:root {
    --main-padding: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#logo-title {
    font-family: 'Monoton', cursive;
    font-size: 56px;
    margin: 0px;
    padding: 0px;
}

#caption {
    display: flex;
    position: relative;
    color: white;
    justify-content: center;
    top: 1%;
    margin: 0;
    font-weight: light;
}

#caption > a {
    text-decoration: underline;
    color: white;
    padding: 0px 3px;
}

#logo {
    display: flex;
    position: relative;
    top: 25%;
    justify-content: center;
    align-items: center;
    width: auto;
}

#logo,
img {
    filter: brightness(0) invert(1) drop-shadow(6px 2px 5px);
    height: 100px;
}

#container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: auto;
    margin: 10vh 0;
}

#sidebar {
    width: 35%;
    height: 100%;
    background-image: url("/images/side-image.jpg");
    background-position: center;
    background-size: 200%;
    opacity: 0.9;
}

main {
    width: 65%;
    height: 100%;
    background-color: rgb(243, 243, 243);

    display: flex;
    flex: 1;
}

#main-content {
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 5% 0;
    resize: both;
    align-items: center;
    justify-content: center;
}

#summary,
#main-form,
#submission {
    height: auto;
    padding: var(--main-padding);
}

#main-form {
    background-color: white;
    box-shadow: 0px 8px 4px -8px;
}

#fields {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 60px 60px 60px;
}

h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: x-small;
    opacity: 0.7;
}

input {
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 2px 2px 4px grey;
}

button {
    border: 2px solid crimson;
    background-color: crimson;
    color: white;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    font-size: large;
    transition-property: background-color box-shadow;
    transition-duration: 0.5s;
}

button:active {
    border: 2px solid crimson;
    background-color: white;
    color: crimson;
}

button:hover {
    box-shadow: 4px 4px 8px gray;
}

#submission > h3 > a {
    text-decoration: underline;
    color: crimson;
    padding: 0px 3px;
}

#hint {
    color: red;
}
